# List

In [29]:
odds = [1, 3, 5, 7]
print("Odds are:",odds)

Odds are: [1, 3, 5, 7]

In [2]:
print("First element in the list", odds[0])

First element in the list 1

In [3]:
print("Last element in the list", odds[-1])

Last element in the list 7

In [8]:
print("Every second element in the list", odds[0::2])

Every second element in the list [1, 5]

In [9]:
names = ["Curie", "Darwing", "Turing"]
print("name is originally", names)
names[1] = "Darwin"
print("The final value of names", names)

name is originally ['Curie', 'Darwing', 'Turing']
The final value of names ['Curie', 'Darwin', 'Turing']

In [10]:
name = "Darwin"
print("First character in the name", name[0])

First character in the name D

In [12]:
name[0] = "d"

TypeError: 'str' object does not support item assignment

In [13]:
x = [
["pepper", "courgette", "onion"], 
["cabbage", "lettuce", "garlic"], 
["apple", "pear", "banana"]
]

In [15]:
print(x[0][0])
print(x[0])

pepper
['pepper', 'courgette', 'onion']

In [16]:
sample_ages = [10, 12.5, "Unknown"]

In [17]:
print(type(sample_ages[0]))
print(type(sample_ages[1]))
print(type(sample_ages[2]))

<class 'int'>
<class 'float'>
<class 'str'>

In [30]:
odds.append(9)
print(odds)

[1, 3, 5, 7, 9]

In [31]:
removed_element = odds.pop(0)
print(odds)
print(removed_element)

[3, 5, 7, 9]
1

In [32]:
odds.reverse()
print(odds)

[9, 7, 5, 3]

In [45]:
string_for_slicing = "observation data: 02-Feb-2013"
string_for_slicing[-4:]

'2013'

In [50]:
beatles = "In an octopus's garden in the shade"
beatles[::2]

'I notpssgre ntesae'

In [51]:
counts=[2,4,6,8,10]
print(counts*2)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]